.section__header{
    display: flex;
    justify-content: center;
    align-items: center;
    //    background-image: linear-gradient(to left,#999696, rgb(217, 217, 26));
      background-color: rgb(213, 236, 0);
    height: 12vh;
    & > h2{
        color: black;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 1.8rem;
    }
}