.project__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  background-color: white;
  height: 25rem;
  width: 25rem;
  border-radius: 8px;
  margin: 1rem;
  & > img {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }
}
